# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# ------------------------------
# Virtual environments
# ------------------------------
venv/
.env/
.env.*
.venv/

# ------------------------------
# Jupyter
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# SQLite / Databases
# ------------------------------
*.db
*.sqlite
*.sqlite3

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# IDE / Editor
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Temporary files
# ------------------------------
*.tmp
*.bak
